/****************************************Estilos Login**************************************************/
.login{
	font-size: 100%;
	display: none;
	background-repeat: no-repeat;
	background-image: url(img/portada2.png);
	background-size: 200vh;
}
.registro {
	display: none;
}
#logo{
	text-align: center;
	width: 80vw;
	margin:10%;
	margin-left: 10%;
	margin-top: 20%;
	margin-bottom: 2%;
}
.inputLogin{
	text-align: center;
  border-radius: 0%;
  border: 0px;
  width: 60vw;
	height: 6vh;
	display: block;
	margin-left: 20%;
	margin-top: 2%;
}
.btnLogIn{
	background-color: #22B4BD;
	border: 0px;
	cursor: pointer;
	margin: 4em auto;
	width: 60vw;
	height: 6vh;
	display: block;
	color: #FFF;  
	text-align: center;
	margin-bottom: 2%;
	margin-top:2%;
}
.btnFb{
	background-color: #4267B2;
	border: 0px;
	cursor: pointer;
	margin: 4em auto;
	width: 60vw;
	height: 6vh;
	display: block;
	color: #FFF;  
	text-align: center;
	margin-top:2%;
	margin-bottom: 2%;
}
.fab{
	font-size: 100%;
}
.a{
	padding:  1vw;
}
.btnGoogle{
	background-color: red;
	border: 0px;
	cursor: pointer;
	margin: 4em auto;
	width: 60vw;
	height: 6vh;
	display: block;
	color: #FFF;  
	text-align: center;
	margin-bottom: 2%;
	margin-top:2%;
}

.textLogin{
	text-align: center;
	display:block;
	color:black;
	margin-top:1%;
	margin-bottom:2%;
	font-size: 80%;
	border: 0px;
}
#registrate{
	color:green;
	cursor: pointer;
}

.register{
	margin-top:20%;
	
}

.registro{
	display: none;
}

#loginBack{
	text-align: center;
	cursor: pointer;
	font-size: 100%;
}

/***********************************fin login*****************************************/
/****************************************Registro**************************************************/
#logoRegister{
	text-align: center;
	width: 60vw;
	margin:10%;
	margin-left: 20%;
	margin-top: 20%;
	margin-bottom: 2%;
}
/****************************************fin Registro**************************************************/
/* Reseteo márgenes browser y color body */
/*Estilos de sección publicaciones*/
.center{
	
}
.behind{
	text-align: left;
	background-color: #efefef;
}
.icon {
	padding: 2em;
}
.title{
font-size: 5%;
}
h6{
	text-align: left;
	margin-left: 4em;
	font-size: 20%;
}
.icona {
	background-color: #efefef;
}
	 
 .carousel-indicators-numbers li {  
   margin: 0 3px;
   width: 10px;
   height: 10px;
   border: none;
   border-radius: 100%;
   line-height: 30px;
	 color: #fff; 
 }

body {
	margin: 0 auto;
	
	
}

/* Estilos generales */
.center {
	text-align: center;
}

/* Estilos Header */
header {
	background-color: #FFF;
	text-align: center;
}

header div img {
	width: 10em;
}

/* Estilos imágen y su contenedor */

.photo{
	text-align: center;
}

.txt {
	width: 100%;
	height: 5em;	
	font-size: 100%;
  border-color: white;
}

/* Estilos botón agregar */
#btn {
	background-color: #22B4BD;
	border: 0px;
	cursor: pointer;
	text-align: center;	
	width: 100%;
	height: 30px;
	display: block;
	color: #FFF; 
	margin: 1%;	
}


#btn:hover {
	background-color: #16D3A2;
}

#btn:focus, textarea:focus{
	outline: none;
}

/* Estilos contenedor comentarios */


#cont {
	border-radius: 4em;
	margin: 0 auto;	
	text-align: left;
	margin-top: 0em;
	padding: 0 0%;
	width: 100%;
	height: 10em;
	border-color: white;  
}


#cont div {
	padding: 0.5em 0.5em;
	
	background-color: #FFF;
	width: 100%;
	height: 10em;
}

.heart, .trash {
	margin:1em;
	float: right;
	cursor: pointer;
}

.trash:hover {
	color: #1DA1F2;
	cursor: pointer;
}

.strike-out {
	text-decoration: line-through;
	color: #1DA1F2;
}

.red {
	color: #FC1E26;
	cursor: pointer;
}

p {
	display: inline-block;
	margin-left: 0.5em;
}