/***************************Estilos Login***********************************/
.login{
	font-size: 100%;
	background-repeat: no-repeat;
	background-image: url(img/portada2.png);
	background-size: 200vh;
	display: none;
}

#logo{
	text-align: center;
	width: 80vw;
	margin:10%;
	margin-left: 10%;
	margin-top: 20%;
	margin-bottom: 2%;
}
.inputLogin{
	  border-radius: 0%;
  border: 0px;
  width: 60vw;
	height: 6vh;
	display: block;
	margin-left: 20%;
	margin-top: 2%;
}
.btnLogIn{
	background-color: #22B4BD;
	border: 0px;
	cursor: pointer;
	margin: 4em auto;
	width: 60vw;
	height: 6vh;
	display: block;
	color: #FFF;  
	margin-bottom: 2%;
	margin-top:2%;
}
.btnFb{
	background-color: #4267B2;
	border: 0px;
	cursor: pointer;
	margin: 4em auto;
	width: 60vw;
	height: 6vh;
	display: block;
	color: #FFF;  
	font-size: 15px;
	margin-top:2%;
	margin-bottom: 2%;
}
.fab{
	font-size: 100%;
}
.a{
	padding:  1vw;
}
.btnGoogle{
	background-color: red;
	border: 0px;
	cursor: pointer;
	margin: 4em auto;
	width: 60vw;
	height: 6vh;
	display: block;
	color: #FFF;  
	font-size: 15px;
	margin-top:2%;
	margin-bottom: 2%;
}

.textLogin{
	text-align: center;
	display:block;
	color:black;
	margin-top:1%;
	margin-bottom:2%;
	font-size: 80%;
	border: 0px;
}
#registrate{
	color:green;
	cursor: pointer;
}

#loginBack{
	text-align: center;
	cursor: pointer;
	font-size: 100%;
}

/***********************************fin login********************************/


/*****************Registro****************************************/
.registro{
	background-repeat: no-repeat;
	background-image: url(img/portada2.png);
	background-size: 200vh;
	display: none;
	
}

.register{
	margin-top:20%;	
}

#logoRegister{
	text-align: center;
	width: 60vw;
	margin:10%;
	margin-left: 20%;
	margin-top: 20%;
	margin-bottom: 2%;
}

.alertConteiner{
	z-index: 20;
	text-align: center;
  border-radius: 0%;
  border: 0px;
  width: 75vw;
	display: block;
	margin-left: 8%;
	margin-top: 2%;
}

#privacyPolicy{
	font-size: 70%;

}

/*********************fin Registro******************************************/



/*****************************Seccion Muro***************************************/
.muro{
	display: none;
}
/* Reseteo m치rgenes browser y color body */
/*Estilos de secci칩n publicaciones*/
.center{
	display: none;
}
.behind{
	text-align: left;
	background-color: #efefef;
}
.icon {
	padding: 2em;
}
.title{
font-size: 5%;
}
h6{
	text-align: left;
	margin-left: 4em;
	font-size: 20%;
}
.icona {
	background-color: #efefef;
}
	 
 .carousel-indicators-numbers li {  
   margin: 0 3px;
   width: 10px;
   height: 10px;
   border: none;
   border-radius: 100%;
   line-height: 30px;
	 color: #fff; 
 }

body {
	margin: 0 auto;
	
	
}

/* Estilos generales */
.center {
	text-align: center;
}

/* Estilos Header */
header {
	background-color: #FFF;
	text-align: center;
}

header div img {
	width: 10em;
}

/* Estilos im치gen y su contenedor */

.photo{
	text-align: center;
}

.txt {
	width: 100%;
	height: 5em;	
	font-size: 100%;
  border-color: white;
}

/* Estilos bot칩n agregar */
#btn {
	background-color: #22B4BD;
	border: 0px;
	cursor: pointer;
	text-align: center;	
	width: 100%;
	height: 30px;
	display: block;
	color: #FFF; 
	margin: 1%;	
}


#btn:hover {
	background-color: #16D3A2;
}

#btn:focus, textarea:focus{
	outline: none;
}

/* Estilos contenedor comentarios */


#cont {
	border-radius: 4em;
	margin: 0 auto;	
	text-align: left;
	margin-top: 0em;
	padding: 0 0%;
	width: 100%;
	height: 10em;
	border-color: white;  
}


#cont div {
	padding: 0.5em 0.5em;
	
	background-color: #FFF;
	width: 100%;
	height: 10em;
}

.heart, .trash {
	margin:1em;
	float: right;
	cursor: pointer;
}

.trash:hover {
	color: #1DA1F2;
	cursor: pointer;
}

.strike-out {
	text-decoration: line-through;
	color: #1DA1F2;
}

.red {
	color: #FC1E26;
	cursor: pointer;
}

p {
	display: inline-block;
	margin-left: 0.5em;
}


/**********************MENU *********************************/


.bg-blue{
	z-index: 100;
	background-color: #22B4BD;
}
.lineMenu{
	width: 8%;
	position: left;
}

.logoWhite{
	width: 25%;
}

.menu{
	position: absolute;
	top:0;
	height: 100vh; 
	width: 90vw;
	transition: 0.5s ease-out;
	background-color: #22B4BD;
}

.menu_closed{
	left: -90vw;
}

.menu_open{
	left: 0;
}

.close_button{ 
	font-size: xx-large;
	color: white;
	position: absolute;
	right: 10px;           
}

.menu_content{
	padding: 10px;
	margin-top: 20px;
	color: white;
	background-color: #22B4BD;
}

.textMenu{
color: white;
}

.photoMenu{
	width: 25px;
}

@media(min-width: 768px){
	.menu{
			width: 20vw; 
	}

	.menu_closed{
			left:-20vw;
	}
}
/****************************************FIN MENU**************************************************/